/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    background-color: #e8e8e8;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #0cad59;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

.container {
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 125px;
}

.container-form {
    padding-left: 40px;
    padding-right: 40px;
}

body {
    background-color: #4280f4;
}
